/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.home-container {
  display: flex;
  justify-content: center;
  outline: dashed 1px yellow;
  align-items: center;
}

.home-feature-image {
  display: flex;
  margin: auto;
  position: relative;
  justify-content: right;
  padding: 25px 25px;
  align-items: center;
/*  outline: dashed 1px red; */
  float: left;
  width: 60%;
}

.home-feature-text {
  margin: auto;
  justify-content: left;
  padding: 30px 20px;
  align-items: center;
/*  outline: dashed 1px green; */
  width: 80%;
}

.home-feature-text2 {
  margin: auto;
  justify-content: left;
  padding: 25px 25px;
  align-items: center;
  outline: dashed 1px green;
  width: 50%;
}



.home-feature-list2 {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 25px 25px;
  align-items: center;
  outline: dashed 1px red;
  float: right;
  width: 50%;
}







.home-feature {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 80px 0px;
  align-items: center;
  outline: dashed 1px green;
  width: 100%;
}
